/*-- scss:defaults --*/

// constants
$bg: #000030 !default;
$fg: #f0f1eb !default;
$primary: #fea411 !default;
$secondary: #00883a !default;

// logos
$soda: "img/Logo_SODA.svg" !default;
$lmu: "img/LMU_Logo_RGB_InvertiertWeiss.png" !default;
$mcml: "img/MCML_Logo_RGB_white.png" !default;
$ada: "img/ADA_Avatar_2.svg" !default;
// $ondatix: "img/ondatix.svg" !default;

@import "_common.scss";


/* ==============================
   EMPHASIS — COLOR ONLY, NO BOLD
   ============================== */

strong, b, h1, h2, h3, h4, h5, h6, em, it {
  font-weight: normal !important;
  font-style: normal !important;
  color: $primary;
}