/*-- scss:defaults --*/

// constants
$bg: #f0f1eb !default;
$fg: #000030 !default;
$primary: #000030 !default;
$secondary: #00883a !default;

// logos
$soda: "img/Logo_SODA.svg" !default;
$lmu: "img/LMU_Logo_RGB_InvertiertSchwarz.png" !default;
$mcml: "img/MCML_Logo_RGB_black.png" !default;
$ada: "img/ADA_Avatar_1.svg" !default;
// $ondatix: "img/ondatix.svg" !default;

@import "_common.scss";


/* ==============================
   EMPHASIS — BOLD
   ============================== */


h1, h2, h3, h4, h5, h6, strong, b, em, it {
  font-weight: bold !important;
  font-style: normal !important;
  color: $primary;
}